@import '../styles/dummy.css';
@tailwind base;
@tailwind Components;
@tailwind utilities;

::-webkit-scrollbar{
  display: none;
}

:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  @apply bg-zinc-100 text-zinc-800 h-full overflow-x-hidden;
}

#_next {
  @apply h-full;
}

html {
  @apply h-full;
}

image {
  max-width: 100%;
  display: block;
}

/* 
Para que la imgen tome el espacio disponible de su contenedor */