.banner {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: relative;
}

.bannerA {
    justify-content: center;
    align-items: center;
    height: 30%;
    width: 50%;
    position: absolute;
    z-index: 1;
}

.bannerB {
    height: 120%;
    width: max-content;
}



/* .baner {
    background-color: wheat;
    height: 20vh
}

.contaimer_about {
    padding: 0 10rem 0 10rem;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;

}

.aboutBanerLat {
    background-color: blueviolet;
}

.aboutTexImg {
    display: grid;
    grid-template-rows: 5fr 3fr;
    gap: 1rem;
}

.aboutText {
    background-color: brown;
}

.aboutImg {
    background-color: yellowgreen;
} */



/* html css module */

/* <div><div className= {
    s.baner
}

>imagen </div><div className= {
    s.contaimer_about
}

><div className= {
    s.aboutTexImg
}

><div className= {
    s.aboutText
}

>descripcion </div><div className= {
    s.aboutImg
}

>imagen corta </div></div><div className= {
    s.aboutBanerLat
}

>imagen Larga Baner </div></div></div> */